quickstarts/cxf/camel-cxf-contract-first/src/main/resources/wsdl/order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

     Copyright 2005-2018 Red Hat, Inc.

     Red Hat licenses this file to you under the Apache License, version
     2.0 (the "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
     implied.  See the License for the specific language governing
     permissions and limitations under the License.

-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://order.camelinaction"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://order.camelinaction">

  <!-- Type definitions for input- and output parameters for webservice -->
  <wsdl:types>
    <xs:schema targetNamespace="http://order.camelinaction">
      <xs:element type="xs:string" name="resultCode" />
      <xs:element name="purchaseOrder" type="tns:purchaseOrder"/>
      <xs:complexType name="purchaseOrder">
          <xs:sequence>
              <xs:element type="xs:string" name="partName" />
              <xs:element type="xs:int" name="amount" />
              <xs:element type="xs:string" name="customerName" />
           </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <!-- Message definitions for input and output -->
  <wsdl:message name="purchaseOrder">
    <wsdl:part name="parameters" element="tns:purchaseOrder" />
  </wsdl:message>
  <wsdl:message name="orderResult">
    <wsdl:part name="resultCode" element="tns:resultCode" />
  </wsdl:message>

  <!-- Port (interface) definitions -->
  <wsdl:portType name="OrderEndpoint">
    <wsdl:operation name="order">
      <wsdl:input message="tns:purchaseOrder" />
      <wsdl:output message="tns:orderResult" />
    </wsdl:operation>
  </wsdl:portType>

  <!-- Port bindings to transports and encoding - HTTP, document literal encoding is used -->
  <wsdl:binding name="OrderBinding" type="tns:OrderEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="order">
      <soap:operation soapAction="http://order.camelinaction/Order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service definition -->
  <wsdl:service name="OrderEndpointService">
    <wsdl:port name="OrderService" binding="tns:OrderBinding">
      <soap:address location="http://localhost:9101/order" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
